<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.traveljournal">
    
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission. ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/travel1"
        android:label="@string/app_name"
        android:roundIcon="@drawable/travel1"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TopLocationsActivity"></activity>
        <activity android:name=".AboutActivity" />
        <activity android:name=".JournalActivity" />
        <activity android:name=".MapActivity" />
        <activity android:name=".CreateJournalActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>